# Node.js
node_modules/
npm-debug.log*
package-lock.json

# Python
venv/
.venv/
__pycache__/
backend/scraper/downloaded_files
backend/ml_model/lr_model_data
backend/ml_model/encoder

backend/downloaded_files

# dotenv
.env

.gitignore

# Auto-gen assets
frontend/public/images/
frontend/public/data/
