.Home {
    display: flex;
    flex-direction: row;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-width: 85vw;
}

.home-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: 16vh;
}

.home-header-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.home-header-subtitle {
    color: grey;
    font-size: 0.75rem;
}

.home-body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 75vh;
}

.home-model-performance {
    min-width: 50%;
    background-color: rgb(231, 231, 231);
}

.home-dataset-info {
    grid-column: span 2;
    background-color: rgb(231, 231, 231);
}