.Home {
    display: flex;
    flex-direction: row;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-width: 85vw;
    margin-top: 1.33rem;
}

.home-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 4rem;
    min-height: 7vh;
}

.home-header-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.home-body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home-model-performance {
    min-width: 50%;
    background-color: rgb(231, 231, 231);
}